.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.destinations .item.tokyo .img-item {
  background-image: url(../img/tokyo-mobile.jpg);
}

.destinations .item.osaka .img-item {
  background-image: url(../img/osaka-mobile.jpg);
}

.destinations .item header h3 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
  margin-bottom: 40px;
}

/* CORRIGIDO: width */
@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item .img-item {
    height: 452px;
  }

  .destinations .item.tokyo .img-item {
    background-image: url(../img/tokyo-tablet-desk.jpg);
  }
  .destinations .item.osaka .img-item {
    background-image: url(../img/osaka-tablet-desk.jpg);
  }

  .destinations .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items {
    flex-direction: row;
  }
}
